<ul class="postlist">
{%- for post in postslist | reverse %}
<li class="postlist-item">
<div class="postlist-iconbox">
	{%- for tag in post.data.tags %}
		{%- set iconClass = tag | mapTagFontawesome %}
		{%- if iconClass %}
		<div>
			<i class="{{ iconClass }}"></i>
		</div>
		{%- endif %}
	{%- endfor %}
</div>
	<div>
		<div>
			<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		</div>
		<div>
			<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("dd MMM yyyy") }}</time>
		</div>
		</div>
</li>
{%- endfor %}
</ul>
